* { box-sizing: border-box; }
body {
  margin: 0;                    
  background-color: whitesmoke; 
  font-family: Verdana, sans-serif;
  color: #666;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.col-md-2 {
  background-color: #000;
  color: #fff;
  padding: 1.25rem;      
  min-height: 100vh;      
}

.col-md-2 .nav-item {
  margin-bottom:auto;
  color: darkgray;        
  padding: 0.45rem 0;     
  font-size: 18px;        
}

.profile-pic {
  color: #fff;
  padding: 1.25rem;      
  min-height: 25vh;      
  width: 150px;
  height: 120px;
  border-radius: 50%;  /* makes circle */
  object-fit: cover;    /* keeps image proportioned */
}

#home-text {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

#home-image {
  max-width: 300px;
  border: 5px solid black;
  border-radius: 10px;
  object-fit: cover;
  height: auto;
}

h2 {
  font-family: Georgia, serif;
  font-size: 36px;
  color: black;
  margin-top: 0;
}

.content-section { display: none; }
.content-section.active { display: block; }
